/* <!-- Style the website you made last week using CSS with the following requirements: */

/* Use only external CSS file (no internal or inline styling) */
/* Every element must be styled. */
/* Create style rules using class, id, and element selectors. */
/* --> */
body {
  background-color: blueviolet;
}
/* heading color */
h1 {
  color: pink;
}
/* style box around the navigation bar */
div {
  background-color: cornflowerblue;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.shadow-text {
  text-shadow: gray 1px 1px;
}

#large-paragraph {
  font-size: 30 px;
}
